/* NAVIGATION BAR */
.navmenu {
    position: fixed;
    background: #323232;
    width: 100%;
    height: 40px;
    z-index: 1000;
}

/* Strip the ul of padding and list styling */
.navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* Create a horizontal list with spacing */
.navmenu li {
    display: inline-block;
    float: left;
}

/* Style for menu links */
.navmenu li a {
    display: block;
    min-width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f8f8f8;
    background: #323232;
    text-decoration: none;
}

/* Hover state for top level links */
.navmenu li:hover a {
    color: #323232;
    background: #ffffff;
}

/* Hide dropdown links until they are needed */
.navmenu li ul {
    display: none;
}

/* Style 'show menu' label button and hide it by default */
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #f8f8f8;
    background: #323232;
    text-align: left;
    padding: 10px 10px;
    display: none;
}

/* Hide checkbox */
input[type=checkbox]{
    display: none;
}

/* Show menu when invisible checkbox is checked */
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* Responsive Styles */
@media screen and (max-width : 575px){
    /* Make dropdown links appear inline */
    .navmenu ul {
        position: static;
        display: none;
    }

    /* Create vertical spacing */
    .navmenu li {
        margin-bottom: 0px;
    }

    /* Make all menu links full width */
    .navmenu ul li {
        width: 100%;
    }
    .navmenu li a {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }

    /* Display 'show menu' link */
    .show-menu {
        display:block;
    }
}
