/* SECTION STYLES */
/* Custom section styles */
body {
    margin: 0;
    padding: 0;
}

.bio {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14pt;
}
.bio-pic-container {
    display: inline-block;
    text-align: left;
    width: 80%;
    max-width: 850px;
}
.bio-photo {
    display: inline-block;
    max-width: 300px;
}
.bio-text {
    display: inline-block;
    text-align: left;
    padding-top: 40px;
    width: 80%;
    max-width: 850px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
}
.bio-text h2 {
    margin-bottom: 0;
}
.book-container {
    display: grid;
    max-width: 850px;
    grid-template-columns: 187px auto;
    grid-template-rows: 300px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    text-align: left;
    margin: 18px 0px 50px 0px;
    font-size: 11pt;
}
@media screen and (max-width : 625px){
    /*Make dropdown links appear inline*/
    .book-container {
        max-width: 300px;
        grid-template-columns: 300px;
        grid-template-rows: 300px auto;
        font-size: 12pt;
    }
}
.book-item {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
}
dl {
    padding: 0.5em;
    margin-top: 0;
 }
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: #323232;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}
.credit-line {
    margin-top: 0;
    font-size: 10pt;
    color: #646464;
}
.iframe-container {
  margin: 18px 0px 18px 0px;
}
.iframe-container iframe {
    border: 0;
}
@media screen and (max-width : 575px){
    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }
    .iframe-container iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.footer {
    display: block;
    height: 150px;
    background-color: #323232;
    color: #f8f8f8;
    padding: 1rem 0px;
    font-size: 12pt;
    text-align: center;
}
.footer-icon {
    fill: #f8f8f8;
}
.footer-icon:hover {
    fill: #DDA0DD;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-social {
    font-size: 1.375rem;
    display: inline-block;
}
.footer-text-sm {
    font-size: 10pt;
}
.footer-url-text {
    text-decoration: none;
    color: #f8f8f8;
}
.footer-url-text:hover {
    color: #DDA0DD;
}
#About {
    margin: 40px 0px;
}
#Home {
    background-color: #f8f8f8;
}
.heading {
    padding-top: 100px;
    width: 100%;
    height: 565px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
    background-color: #f8f8f8;
    text-align: center;
}
.heading h1 {
    font-size: 60px;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
.landscape-background {
    background-image: url("../img/icm_landscape_1000x667.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 667px auto;
}
@media screen and (max-width : 575px){
    /*Make dropdown links appear inline*/
    .landscape-background {
        background-image: url("../img/icm_landscape_617x365.png");
        background-size: 365px auto;
    }
    .heading {
        height: 420px;
    }
}
.josefin {
    font-family: 'Josefin Slab';
}
.icon-space {
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}
.pic-container {
    display: grid;
    max-width: 850px;
    grid-template-columns: 273px 273px 273px;
    grid-template-rows: 273px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    text-align: left;
    margin: 0px 0px 50px 0px;
    font-size: 11pt;
}
@media screen and (max-width : 960px){
    .pic-container {
        max-width: 560px;
        grid-template-columns: 273px 273px;
        grid-template-rows: 273px 273px;
    }
}
@media screen and (max-width : 650px){
    .pic-container {
        max-width: 275px;
        grid-template-columns: 273px;
        grid-template-rows: 273px 273px 273px;
    }
}
.pic-item {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
}
.script {
    font-family: 'Josefin Slab';
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
.social {
    padding-top: 18px;
    padding-bottom: 36px;
}
.title-script {
    font-family: 'Alex Brush', cursive;
    font-size: 120px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

/* SOCIAL MEDIA ICONS */
/* Add style to social media icons */
.fas {
    text-decoration: none;
    font-size: 12pt;
}
.far, .fab {
    padding: 10px;
    font-size: 30px;
    width: 33px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect */
.fas:hover, .far:hover, .fab:hover {
    opacity: 0.7;
}

/* Add color to social media icons */
.fa-envelope {
    background: #000000;
    color: white;
}
.fa-instagram {
    color: white;
    background: linear-gradient(to bottom right, #fccc63, #e95950, #bc2a8d, #8a3ab9);
}
.fa-facebook {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-external-link-alt {
    color: #323232;
}
