.footer {
    display: block;
    height: 175px;
    background-color: #323232;
    color: #f8f8f8;
    padding: 1rem 0px;
    font-size: 12pt;
    text-align: center;
}
.footer-icon {
    fill: #f8f8f8;
}
.footer-icon:hover {
    fill: #DDA0DD;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-social {
    font-size: 1.375rem;
    display: inline-block;
}
.footer-text-sm {
    font-size: 10pt;
}
.footer-url-text {
    text-decoration: none;
    color: #f8f8f8;
}
.footer-url-text:hover {
    color: #DDA0DD;
}
.icon-space {
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}
