body {
    margin: 0;
    padding: 0;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
summary {
  display: list-item;
}
p.abstract{
  text-align: center;
  font-weight: bold;
}
div.abstract{
  margin: auto;
  width: 90%;
}
.main-container {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 14pt;
}
.content-container {
  display: inline-block;
  text-align: left;
  width: 80%;
  max-width: 900px;
  margin: 2rem;
  color: #323232;
  text-shadow: 2px 2px 8px #f8f8f8;
}
.figure > img {
    width: 100%;
    height: auto;
}
.figure > p {
    margin-top: 0;
}
.intext-link {
    font-weight: bold;
    text-decoration: underline;
    color: #323232;
}
.intext-link:hover {
    color: #BA55D3;
}
.tabbed-pane {
  padding-top: 12px;
}
.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 0;
}
.date {
  margin-top: 10px;
}
.author {
  margin-top: 28px;
}
.caption {
    font-size: 10pt;
    color: #535353;
}
.my-indent {
  margin-left: 25px;
  margin-right: 25px;
}

/* Working with images */
#scaled-image {
  width: 100%;
  height: auto;
}
.img-fr-wrapper {
    display: inline-block;
    float: right;
    max-width: 300px;
    margin: 0px 15px;
}

.img-square-thumb {
    display: inline-block;
    max-width: 500px;
    margin: 15px 0px;
}

@media only screen and (max-width: 1000px) {
  .img-fr-wrapper {
    float: none;
    width: 100%;
    max-width: 640px;
  }
  .img-square-thumb {
      width: 100%;
  }
}

.iframe-container{
    text-align: center;
}
.iframe-container iframe {
    border: 0;
}
@media screen and (max-width : 675px){
    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }
    .iframe-container iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/* Top Matter Heading */
#Home {
    background-color: #f8f8f8;
}
.heading {
    padding-top: 100px;
    width: 100%;
    height: 565px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
    background-color: #f8f8f8;
    text-align: center;
}
.heading h1 {
    font-size: 60px;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
.landscape-background {
    background-image: url("../img/icm_landscape_1000x667.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 667px auto;
}
@media screen and (max-width : 575px){
    .landscape-background {
        background-image: url("../img/icm_landscape_617x365.png");
        background-size: 365px auto;
    }
    .heading {
        height: 420px;
    }
}
.josefin {
    font-family: 'Josefin Slab';
}
.social {
    padding-top: 18px;
    padding-bottom: 36px;
}
.title-script {
    font-family: 'Alex Brush', cursive;
    font-size: 120px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

/* tabset */
.tabset-dropdown > .nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
  content: "&#xe258;";
  border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
  display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
  display: block;
  float: none;
}

.tabset-dropdown > .nav-tabs > li {
  display: none;
}
