/* SOCIAL MEDIA ICONS */
/* Add style to social media icons */
.fas {
    text-decoration: none;
    font-size: 12pt;
}
.far, .fab {
  padding: 10px;
  font-size: 30px;
  width: 33px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */
.fas:hover, .far:hover, .fab:hover {
    opacity: 0.7;
}

/* Add color to social media icons */
.fa-envelope {
    background: #000000;
    color: white;
}
.fa-instagram {
    color: white;
    background: linear-gradient(to bottom right, #fccc63, #e95950, #bc2a8d, #8a3ab9);
}
.fa-facebook {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-external-link-alt {
    color: #323232;
}
.fa-smile-wink {
    color: #323232;
    font-size: 18px;
    padding: 0;
}
