<p>Welcome to my UK Story Map! My name is Kate Forrest and I&#39;m a historic romance author, nonfiction essayist, and avid traveler.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><img alt="Photo of Kate Forrest, debut author." src="https://kateforrestauthor.com/photos/kate-forrest-2105_300x300.jpg" /></div>

<figcaption>Kate Forrest, Author.</figcaption>
</figure>
