<p>My husband, Tyler, and I lived in England for two years from 2013 to 2015. I loved our home in <a data-storymaps="MJ-ACTION-1579292871842" data-storymaps-type="media">Sunninghill</a>, located on the cusp of Windsor Great Park, and always hoped to return. In May of 2018, we made our first trip back to the UK.</p>

<p>&nbsp;</p>

<p>We wanted to revisit the places we loved and reconnect with old friends and neighbors, but there were additional reasons for our journey. Our visit was meant to facilitate research for the remaining books in my Scottish historical romance series, and we planned to visit places on my old travel wish list, locations that we&#39;d previously been unable to reach (for various reasons) from our home in the South of England.</p>

<p>&nbsp;</p>

<p>It was a special trip, so I wanted to document it in a special way. That is how the GIS Story Map came to be. We used a GPS receiver to track our journey within one meter of accuracy (at its best; at its worst, we had some gap filling to do). To accompany this comprehensive map, I&#39;ve assembled a collection of personal photos, videos, and journal entries to capture our journey and I&#39;ve included some tips for fellow travelers, as well as informational extras.</p>

<p>&nbsp;</p>

<p>Please keep in mind that any advice, itinerary suggestions, or informational extras are based on my personal knowledge and experience. My husband is an academic and I&#39;m a writer, so we travel on a tight budget. Many of my excursions were low-cost or free and, for this particular trip, we weren&#39;t necessarily doing the things one would typically cover for, say, a first visit to the United Kingdom. I love history, cathedrals, nature, gardens, and scenic drives and walks. My husband is happy to go along for a ride, with the simple request to end each day with a pint of English ale.</p>

<p>&nbsp;</p>

<p>I am a planner too. I make a detailed schedule and I always include back-up options in the event of inclement weather or unexpected closures. I do allot periods of unplanned &quot;whimsy&quot; to compensate for a rather rigorous schedule. I will say now that we had full days and the pacing of our trip was intense. People were shocked by how much I squeezed in and my approach is definitely not everyone&#39;s cup of tea, but I have a good reason for being this way when I travel.</p>

<p>&nbsp;</p>

<p>It is a simple case of economics. I have limited time and money and I want to get the most out of every minute. However, I do advise doing no more than two big things in a day, with a few minor things mixed in. For example, for a day in London you could tour the Tower of London in the morning and in the afternoon, tour Westminster Abbey, then walk by a few points of interests, like Trafalgar Square and Buckingham Palace, before dining in a neighborhood you wanted to explore, like Richmond or Kew Gardens. Don&#39;t try to tour Westminster Abbey, St Paul&#39;s Cathedral, the Tower of London, and Tower Bridge and take a spin on the London Eye all in the same day. You will be exhausted and unhappy.</p>

<p>&nbsp;</p>

<p>I&#39;m not a leisurely traveler (though I wish I could learn to be), and you will see this reflected in each day&#39;s events. You may not love what I loved, so I encourage travelers to research and plan your trip with a variety of sources and be mindful of your own travel pace and style.</p>

<p>&nbsp;</p>

<p>Since this is a hybrid of a travel journal and traveling advice, I plan to do companion posts to this map to cover some more detailed information on topics concerning travel in the United Kingdom and I will, where possible, include sources for additional research and a comprehensive budget of our stay. Since the trip is from 2018, I have endeavored to update timely information to be current for 2020.</p>

<p>&nbsp;</p>

<p>The map is broken down into four parts. This is the first installment, with the remaining parts to follow this spring. I&#39;m excited to share our experiences and I hope our Story Map inspires you.</p>

<p>&nbsp;</p>

<p>Thanks for visiting!</p>

<p>&nbsp;</p>

<p>~ Kate</p>

<p>&nbsp;</p>

<p><span style="font-size:12px"><strong>Note:</strong> unless otherwise indicated, the photographs used in this Story Map are my own. All others are used under the Creative Commons license.</span></p>
