<p>Here is our complete journey highlighted on the map. Including two travel days, we spent a total of 25 days in the United Kingdom in May and June, with 23 days of sightseeing. In total, we covered approximately 2500 miles (4000 km).</p>

<p>&nbsp;</p>

<p>Click any part of our journey on the map to highlight the day&#39;s travel.</p>

<p>&nbsp;</p>

<p><strong>How It Was Made</strong></p>

<p>&nbsp;</p>

<p>To create this map, my husband carried a Bad Elf (&copy; 2019 Bad Elf) GNSS Surveyor GPS receiver (pictured below), which recorded our location (longitude, latitude, and elevation) and the date and time every two seconds on each of our journeys.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><img alt="Picture of Bad Elf GPS receiver." height="200" src="https://kateforrestauthor.com/story/map/2018/images/bad_elf_300x300.png" width="200" /></div>

<figcaption>Bad Elf GNSS Surveyor GPS receiver.</figcaption>
</figure>

<p>&nbsp;</p>

<p>Like a big game of connect-the-dots, a line was drawn through each of the over 300,000 location points to create a path of where we visited. At its best, the receiver could pinpoint where we were with an accuracy of about three feet. On the other hand, some points had to be fixed due to errors caused by poor satellite reception (for example, when we were indoors).</p>

<p>&nbsp;</p>

<p><strong>Part 1</strong> (<a data-storymaps="MJ-ACTION-1579285185879" data-storymaps-type="media">click here</a>)</p>

<p>&nbsp;</p>

<p>Here is a closer look at our first week of travel. From Tuesday, May 29th to Saturday, June 2nd, we covered nearly 500 miles from Ascot to Avebury.</p>

<p>&nbsp;</p>

<p>You can zoom in on the map and click on the highlighted line to see where and how far we went each day.</p>

<p>&nbsp;</p>

<p><strong>Lodging</strong> (<a data-storymaps="MJ-ACTION-1579285387871" data-storymaps-type="media">click here</a>)</p>

<p>&nbsp;</p>

<p>We were based at an Airbnb (&copy; Airbnb, Inc.) in South Ascot for the first part of our journey, just a short walk from our old home in Sunninghill.</p>

<p>&nbsp;</p>

<p>The name of the listing was the &quot;Royal Enclosure-close station and racecourse.&quot; Our host, Jo, could not have been more accommodating. Truly. We were so lucky to book here for the first leg of our travels. We had a private bedroom and modern bathroom (not attached, but right beside the room). Our space overlooked the garden and was off a quiet side street, so little noise. We had helpful, welcoming hosts that truly wanted us to feel at home and we absolutely did. I also adored their sweet Scottish Terrier, Maisie.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container activate-fullscreen"><img alt="Maisie, the dog." height="254" src="https://kateforrestauthor.com/story/map/2018/images/maisie_500x500.jpg" width="254" /></div>

<figcaption>Maisie</figcaption>
</figure>
<style type="text/css">blockquote.tips {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
</style>
<blockquote class="tips"><em><strong>Tips if you want to stay in South Ascot:</strong></em><br />
We did have a car, but even if we didn&#39;t, this would have been a great location as it is handy to various transport:
<ul>
	<li>the White Bus 01 line (which will take you to Sunninghill, Sunningdale, Ascot proper, and Windsor),</li>
	<li>Ascot train station (which will take you to London or Reading), and</li>
	<li>Ascot Cars, a car hire service at the station (which we used ourselves when we lived in Sunninghill).</li>
</ul>
There are also a few restaurants within an easy walk of this host&#39;s location, including <a data-storymaps="MJ-ACTION-1550805325055" data-storymaps-type="media">The Swinley</a>. We bypassed their traditional, and limited, English pub offerings, as the Thai menu was extensive and seems to be their focus. A relaxed setting, tasty food, and a good selection of drinks on tap. This made for an easy, satisfying meal after a long day of sightseeing.</blockquote>
