<style type="text/css">td {
padding: 5px;
}
table{
border-spacing: 5px;
}
table.mytable a {
width: 100%;
display: block;
}
</style>
<p><strong>Tuesday, 29 May 2018</strong></p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579288666829" data-storymaps-type="media"><img alt="Heathrow Airport - Welcome to Britain" src="https://c1.staticflickr.com/1/104/297710513_fdb472f3ce_b.jpg" /></a></div>

<figcaption>UK - London: Heathrow Airport - Welcome to Britain. Photo by Wally Gobetz. Released under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">CC BY-NC-ND 2.0</a>.</figcaption>
</figure>

<p>Our flight into Heathrow was uneventful but picking up our car was slow and drawn out. Despite feeling crazy from the sleep deprivation of a red eye flight, I didn&#39;t mind the delay for two reasons: 1) our main objective Tuesday was to stay awake until 10:00 PM, so we weren&#39;t in a hurry and 2) I got to chat with the most delightful woman named, Iris. She and her husband (who I regrettably missed the name of) were back to visit family in Wales and Scotland. They traveled all the way from home of Canberra, Australia. The length of such a journey left me feeling exhausted for them.</p>

<p>&nbsp;</p>

<p>Even after a days-long journey, Iris had a sparkle and glow about her. She instantly reminded me of Winifred Banks, from Mary Poppins (1964), played by the lovely Glynis Johns. Iris was even kind enough to say the longest word in the Welsh language, &quot;Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch.&quot;</p>

<p>&nbsp;</p>

<p style="text-align:center">
<audio controls=""><source src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Cy-Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch_%28Welsh_pronunciation%2C_recorded_17-05-2012%29.ogg" type="audio/ogg" /></audio>
</p>

<p>&nbsp;</p>

<p>We didn&#39;t get to visit the famous place in Wales, but hearing it spoken was a neat moment. Iris was a gem of a woman and I&#39;m happy for the time I get to spend talking with her while we waited in the queue at the car rental.</p>

<p>&nbsp;</p>

<p style="text-align:center">***</p>

<p>&nbsp;</p>

<p>Car acquired, we were off to our Airbnb in South Ascot, a short drive from our old home in Sunninghill. Our host, Jo, and her husband, Peter, at the Royal Enclosure were kind enough to let us drop our bags off in the morning, then we spent the day in Windsor. We got into a car park, but only had enough money on hand for an hour&#39;s stay, as we hadn&#39;t taken out any &pound; yet.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1579288945821" data-storymaps-type="media"><img alt="1" src="https://kateforrestauthor.com/story/map/2018/1/1_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1579289225965" data-storymaps-type="media"><img alt="4" src="https://kateforrestauthor.com/story/map/2018/1/4_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>Summoning all energy reserves (which we near exhausted from a marathon of travel from North Carolina to Pennsylvania and Pennsylvania to England), we rushed into town to tackle our pressing to-do list: get money for parking and acquire a UK SIM card for my recently retired iPhone, which, as it turns out, was not unlocked internationally :-/. Fortunately, my husband, Tyler, thought to bring his older iPhone from when we lived in England. It worked, and off we went with phone in hand to then immediately call and pay for more time in the car park using a credit card. We had minutes to spare before timing out.</p>

<p>&nbsp;</p>

<p>Parking paid, it was time for a currency exchange at the Royal Mail (and purchase of the collector Meghan &amp; Harry wedding stamps &ndash; could not resist), before seeking out food and shopping in all the Windsor boutiques that I&#39;d missed over the past three years. If exhaustion hadn&#39;t been wicking the life out of me, I would have enjoyed myself immensely, even with the gray rainy weather.</p>

<p>&nbsp;</p>

<p>All you can do after a red-eye is make an honest effort, because you want to enjoy every minute you have on your trip, but it was really just a day to get through. Though I did get a kick out of all the Meghan and Harry sightings, with their pictures, cardboard cutouts, LEGO art (see the map for that one), and window decals everywhere in town.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1579289422868" data-storymaps-type="media"><img alt="2" src="https://kateforrestauthor.com/story/map/2018/1/2_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1579289462476" data-storymaps-type="media"><img alt="3" src="https://kateforrestauthor.com/story/map/2018/1/3_thumb.jpg" /></a></td>
		</tr>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1579289502860" data-storymaps-type="media"><img alt="5" src="https://kateforrestauthor.com/story/map/2018/1/5_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1579289533220" data-storymaps-type="media"><img alt="6" src="https://kateforrestauthor.com/story/map/2018/1/6_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>The royal wedding took place on May 19th, just ten days before our trip, so what we saw were remnants from that celebration. Not to be outdone, I did spot the queen in a window above the shops on Peascod Street, just down from Windsor Castle.</p>

<p>&nbsp;</p>

<p>To quote Miranda Hart, as I do almost daily, it was &quot;such fun&quot; seeing all the leftover wedding decorations, and definitely was a highlight of &quot;Red-eye Tuesday.&quot;</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1579289790524" data-storymaps-type="media"><img alt="7" src="https://kateforrestauthor.com/story/map/2018/1/7_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1579289957813" data-storymaps-type="media"><img alt="8" src="https://kateforrestauthor.com/story/map/2018/1/8_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
