<p><strong>Wednesday, 30 May 2018</strong></p>

<p>&nbsp;</p>

<div class="image-container activate-fullscreen"><img alt="Picture of Yorkshire Tea." height="254" src="https://kateforrestauthor.com/story/map/2018/images/yorkshire-tea_500x500.jpg" width="254" /></div>

<p>&nbsp;</p>

<p>After catching up on sleep, we started the day off right with a hot cup of Yorkshire tea and some sugar donuts from Marks &amp; Spencer at our Airbnb&nbsp;in Ascot before heading off to <a data-storymaps="MJ-ACTION-1581707006891" data-storymaps-type="zoom">Sunninghill</a>.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581706774552" data-storymaps-type="media"><img alt="Side street in Sunninghill." src="https://kateforrestauthor.com/story/map/2018/2/2_thumb.jpg" /></a></div>

<figcaption>A side street in Sunninghill.</figcaption>
</figure>

<p>We walked up to the village to visit our dear former neighbors.&nbsp;We had tea and a lovely visit, catching up on all we&#39;d missed over the past three years. We also took stock of our old garden, which, sadly, isn&#39;t as we kept it, though our old neighbors&nbsp;assured us that the new tenant had taken an interest in the space. It was still sad to see our rose bushes gone, and a favorite blooming vine on the fence completely missing, which offered privacy and lots of food for the bees. Below are some snapshots of how we kept the garden.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1579290733019" data-storymaps-type="media"><img alt="Photo of patio garden circa June 2014" src="https://kateforrestauthor.com/story/map/2018/2/3-1_then_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1579290661029" data-storymaps-type="media"><img alt="Photo of patio garden circa June 2014" src="https://kateforrestauthor.com/story/map/2018/2/3-2_then_thumb.jpg" /></a></td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#ADADAD; font-size:.85em">Patio garden with flowers in full bloom (June 2014).</span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>I will admit my husband and I are not master gardeners, but we put as much time and love into it as we could, combating snails and slugs and all manner of pests and diseases on the rose bushes. The soil was incredibly rich&mdash;a gardener&#39;s dream&mdash;you could have no green thumb at all and still manage a collection of beautiful plants because of the soil and climate alone.</p>

<p>&nbsp;</p>

<p>But things change in your absence. That&#39;s just how life goes and the garden was one of our first reminders of that fact.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1553461200475" data-storymaps-type="media"><img alt="Photo of rose." src="https://kateforrestauthor.com/story/map/2018/2/3_thumb.jpg" /></a></div>

<figcaption>A rose from my favorite rose bush. (June 2014)</figcaption>
</figure>

<p>After tea, we said our goodbyes, with plans to stop again before our flight back to America at the end of our journey. We then made a quick stop for lunch at the Sun Caf&eacute; on High Street in Sunninghill, walking past my old florist, The Little Flower Pot. Rachel, the owner, was exceptional with flowers and just a lovely person to talk to.&nbsp;</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1553470066989" data-storymaps-type="media"><img alt="Picture of flowers for sale." src="https://kateforrestauthor.com/story/map/2018/2/4_thumb.jpg" /></a></div>

<figcaption>Flowers outside The Little Flower Pot.</figcaption>
</figure>

<p>After a great sandwich and salad, we went on to <a data-storymaps="MJ-ACTION-1582995385435" data-storymaps-type="zoom">Silwood Park</a> for my husband to catch-up on a social visit with his old boss, taking the familiar walk up High Street to London Road. I used to love walking up to Silwood Park with him on the weekends.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1553475146809" data-storymaps-type="media"><img alt="Photo of flower petals on the street." src="https://kateforrestauthor.com/story/map/2018/2/5_thumb.jpg" /></a></div>

<figcaption>Rhododendron petals covering the sidewalk along High Street.</figcaption>
</figure>

<p>Part of Imperial College London, it is a beautiful research campus, tucked away off busy London Road, with around 247 acres of parkland. I loved the hidden garden, of sorts, behind the Manor House, and the old reflection pool. Come spring the land beside the Manor House would be covered in a swath of daffodils. It was just gorgeous.</p>

<p>&nbsp;</p>

<p>There were also unique species of trees around campus too, like Eucaplytus (its leaves smell wonderful) and a Monkey tree (it looked like a fake plastic evergreen belonging on a LEGO landscape). The campus is also home to unique herd of rabbits and a collection of peacocks, ducks, and chickens (or so it was when we lived nearby).</p>

<p>&nbsp;</p>

<p>Sadly, the part that is accessible to the public, via a foot path, is less than desirable. A footpath runs past Silwood Lake, which was always brown, and a chain-link fence guides you through the private parkland, offering glimpses of the unique property.</p>

<p>&nbsp;</p>

<blockquote class="tips"><strong><em>Tips regarding public footpaths:</em></strong><br />
There are plenty of picturesque and practical footpaths, or right of ways, in England. If you&#39;ve never heard about your rights for accessing land, I encourage you to include it in your research when planning your trip.
<ul>
	<li>For more, see <a href="https://www.gov.uk/right-of-way-open-access-land" target="_blank">here</a>.</li>
</ul>
</blockquote>

<p>&nbsp;</p>

<p>Unfortunately, yet understandably, policies have changed and as guests, we had to be escorted by my husband&#39;s former boss around the campus, which time didn&#39;t allow for, so it was just a quick visit before we caught the White Bus and returned to <a data-storymaps="MJ-ACTION-1581708632419" data-storymaps-type="zoom">Windsor</a> via the Great Park.</p>

<p>&nbsp;</p>
<style type="text/css">.cimg{
    text-align: center;
}
</style>
<figure class="caption">
<div class="image-container cimg"><a data-storymaps="MJ-ACTION-1579888252498" data-storymaps-type="media"><img alt="Click for YouTube video (https://youtu.be/IdG48sf6CIw)." src="https://kateforrestauthor.com/story/map/2018/images/yt_2.png" /></a></div>

<figcaption>Click for video.</figcaption>
</figure>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579296337744" data-storymaps-type="media"><img alt="Windsor High Street" src="https://kateforrestauthor.com/story/map/2018/2/7_thumb.jpg" /></a></div>

<figcaption>
<p>Windsor High Street</p>
</figcaption>
</figure>

<p>We took in some classic tourists sights we&#39;d skipped the day before. Though familiar, I do like to get updated photos of these places, since some things do change, like the new (to me) store inhabiting the Crooked House.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1582995459740" data-storymaps-type="media"><img alt="9" src="https://kateforrestauthor.com/story/map/2018/2/9_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1582995616557" data-storymaps-type="media"><img alt="10" src="https://kateforrestauthor.com/story/map/2018/2/10_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>Then we headed for the famous Long Walk, the beautiful avenue lined with trees. It is said that King Charles II of England took inspiration from the Palace of Versailles, which became the principal royal residence in France in 1682. During Charles&#39;s reign, in the 1680s, work commenced on planting a &ldquo;great avenue of 4 kilometers, the Long Walk, which provided a link between the Castle and the Great Park for the first time&rdquo; (The Royal Collection Trust).</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579300790715" data-storymaps-type="media"><img alt="A view up the Long Walk." src="https://kateforrestauthor.com/story/map/2018/2/13_thumb.jpg" /></a></div>

<figcaption>The Long Walk from Windsor Castle.</figcaption>
</figure>

<p>Originally, the avenue was lined with elms, but they eventually died out. In 1945 the trees that stand today were planted. This consists of rows of London plane trees and horse chestnuts.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579301253134" data-storymaps-type="media"><img alt="A view of chestnut trees along the Long Walk." src="https://kateforrestauthor.com/story/map/2018/2/15_thumb.jpg" /></a></div>

<figcaption>Horse chestnut trees to the left and London plane trees to the right.</figcaption>
</figure>

<p>Windsor Castle anchors the northern end and if you make the 2.6 mile walk to the Great Park, where the King Edward Equestrian Statue sits, you&rsquo;ll be afforded marvelous views (though all views along the route are lovely, save for the road crossing. The Long Walk does intersect the A308 (Albert Road) which can be busy, but once you cross it, there is no more vehicular traffic).</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><img alt="Picture of Kate Forrest." height="254" src="https://kateforrestauthor.com/story/map/2018/2/12.jpg" width="254" /></div>

<figcaption>Me on the Long Walk with Windsor Castle in the background.</figcaption>
</figure>

<p>After our walk, we took the bus back through the park (truly my favorite drive in the world), and we made our way back to our lodgings in South Ascot then grabbed our rental car.</p>

<p>&nbsp;</p>

<p>Then we took off to the <a data-storymaps="MJ-ACTION-1581708064380" data-storymaps-type="zoom">Valley Gardens</a>, trying to squeeze in an hour or so there before the park closed at 7:00 PM.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579302588420" data-storymaps-type="media"><img alt="The valley of the Valley Gardens." src="https://kateforrestauthor.com/story/map/2018/2/16_thumb.jpg" /></a></div>

<figcaption>The valley of the Valley Gardens.</figcaption>
</figure>

<p>The rhododendrons were in full bloom, but unfortunately, the gray, gloomy day did nothing to show the vibrancy of all the blooms in the &ldquo;punch bowl.&rdquo;</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1579303512469" data-storymaps-type="media"><img alt="Picture of rhododendron petals." src="https://kateforrestauthor.com/story/map/2018/2/19_thumb.jpg" /></a></div>

<figcaption>Rhododendrons in bloom.</figcaption>
</figure>

<p>Even with the dull gray skies, it was a lovely walk. Being back made me ache for the parkland I came to rely on during my two years in England. It was an oasis that felt world&rsquo;s away from the busy streets full of London commuters and tourists (myself included this time around). Though I&rsquo;ll admit Sunninghill had a wonderful smallness to it and an ease that spoke of a village removed to the country, not the bustle of the city, less you walked along London Road.</p>

<p>&nbsp;</p>

<p>Despite a few disappointments, it was a great day of reminiscing and visiting beloved places.</p>

<p>&nbsp;</p>

<blockquote class="tips"><em><strong>Travel Tips for Windsor and Eton:</strong></em><br />
If you find yourself in Windsor for only a day, then your best bet is touring Windsor Castle and walking some of the famous Long Walk to take in striking views of the parkland and castle from the beautiful tree-lined avenue.<br />
<br />
If you have a couple of days, I encourage you to also check out the shops and restaurants off Peascod Street and the Windsor Royal Shopping area at the Victorian train station.<br />
<br />
After you&rsquo;ve dined, take a leisurely stroll down the Windsor Promenade along the River Thames. I also suggest crossing the bridge to check out the town of Eton, which offers lots of shops and restaurants as well. It can be a bit calmer than the bustling streets of Windsor, though on a nice weekend the whole area tends to be busy. Here is a current link to a self-guided walking tour of Windsor and Eton: <a href="https://www.windsor.gov.uk/dbimgs/Heritage Walking Trail3 (2).pdf" target="_blank">(pdf)</a>.<br />
<br />
For more of my suggestions for exploring the area, including information about parking and transportation, dining, and Windsor Great Park, please view my <a href="https://kateforrestauthor.com/blog/2020-03-14-when-in-windsor.html#Blog" target="_blank">blog</a>, which contains companion articles for this Story Map.</blockquote>

<p>&nbsp;</p>
