<p><strong>Thursday, 31 May 2018</strong></p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1580494110030" data-storymaps-type="media"><img alt="View down the lane in Cranbourne Park." src="https://kateforrestauthor.com/story/map/2018/3/1_thumb.jpg" /></a></div>

<figcaption>View down the lane in Cranbourne Park. Public access isn&rsquo;t permitted beyond the hedgerow in the distance (where the road bends out of view), but there is a designated path that parallels the A332 and you can also cross the highway into the Great Park from this point.</figcaption>
</figure>

<p>Today&rsquo;s adventures began in <a data-storymaps="MJ-ACTION-1580504385000" data-storymaps-type="zoom">Cranbourne Park</a>, part of Windsor Great Park, and we took a few other brief walks around the parkland off the A332, just outside of Windsor proper. This was mainly for photo opportunities and, since we had a late start to the day, we didn&#39;t do much exploring.&nbsp;</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1582910803693" data-storymaps-type="media"><img alt="d3p2" src="https://kateforrestauthor.com/story/map/2018/3/2_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1582910888852" data-storymaps-type="media"><img alt="d3p4" src="https://kateforrestauthor.com/story/map/2018/3/4_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>I love the oak trees that dot the landscape here, which was the main reason for our stop. It&rsquo;s a free area to park and enjoy the green space, even on a dreary gray day.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container cimg"><a data-storymaps="MJ-ACTION-1580494409978" data-storymaps-type="media"><img alt="Click for YouTube video (https://youtu.be/jGxO9U8B948)." src="https://kateforrestauthor.com/story/map/2018/images/yt_3.png" /></a></div>

<figcaption>Click for video.</figcaption>
</figure>

<p>Next, we headed into <a data-storymaps="MJ-ACTION-1580505053041" data-storymaps-type="zoom">Eton</a> for lunch, an area I&rsquo;m ashamed to admit we barely explored when we lived in nearby Sunninghill. Eton, like Windsor, can be tricky for parking, but on a weekday afternoon we managed to snag a parking spot on High Street, though alternatives to street parking would be the Meadow Lane Car Park in Eton or even parking across the Windsor-Eton Bridge in one of car parks near the Thames in Windsor, such as King Edward VII carpark.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1582911093813" data-storymaps-type="media"><img alt="d3p7" src="https://kateforrestauthor.com/story/map/2018/3/7_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1582911202373" data-storymaps-type="media"><img alt="d3p11" src="https://kateforrestauthor.com/story/map/2018/3/11_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>But do keep in mind that the Windsor-Eton Bridge does not allow vehicular traffic, so you&rsquo;ll need to loop around the long way to reach Windsor if you can&rsquo;t find parking in Eton. It&rsquo;s a small inconvenience to drive back around to Windsor off the A332 or via Datchet (which I&rsquo;d recommend if you want to try for parking at King Edward VII or the Home Park).</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container activate-fullscreen"><img alt="Upmarket restaurant looking onto the River Thames at Windsor Bridge." src="https://s0.geograph.org.uk/geophotos/02/55/79/2557917_33b45422.jpg" /></div>

<figcaption>The House on the Bridge is home to the C&ocirc;te Brasserie. We sat on the narrow patio, right beside the Thames River.<br />
<span style="font-size:9px">Copyright &copy; <a href="https://www.geograph.org.uk/profile/3972" target="_blank">Colin Smith</a>. <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC BY-SA 2.0</a></span></figcaption>
</figure>

<p>We took lunch at the <a data-storymaps="MJ-ACTION-1580504578705" data-storymaps-type="zoom">C&ocirc;te Brasserie</a>, a French restaurant chain with locations around London and beyond. I&rsquo;m a &ldquo;high-low&rdquo; traveler. I&rsquo;m happy to grab a lunch on the go from Marks &amp; Spencer, but sometimes you just want to sit, relax, and enjoy a view, and this was one of those times. It was our most expensive lunch of the trip, and the most expensive meal for Part 1 of our journey. Good food and a fab <a data-storymaps="MJ-ACTION-1580515456719" data-storymaps-type="media">Kir Royale</a>, but I think what you are really paying for when you select this location is the atmosphere and views.</p>

<p>&nbsp;</p>

<p>Our leisurely lunch was followed by a tour along the Eton Walkway, which highlights points of interest around town and the Eton College campus.</p>

<p>&nbsp;</p>

<blockquote class="tips"><strong><em>The Eton Walkway:</em></strong><br />
As per the Royal Borough&rsquo;s website, it is a &ldquo;2 mile / one hour circular walk, [that] connects 18 points of interest in the town starting at Windsor Bridge.&rdquo;<br />
<img alt="9" src="https://kateforrestauthor.com/story/map/2018/3/9_thumb.jpg" /><br />
Bronze markers, such as the one pictured, mark the route. Ahead of time, I downloaded <a href="https://www.windsor.gov.uk/things-to-do/the-eton-walkway-p1405401" target="_blank">a free leaflet</a> for the walk from the Royal Borough of Windsor &amp; Maidenhead.</blockquote>

<p>&nbsp;</p>

<p>I love walking tours because you always catch things you&rsquo;d otherwise miss, like this &ldquo;<a href="https://www.instagram.com/p/BpXM3nCBNRH/" target="_blank">Secret Garden</a>&rdquo; off High Street.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1580515798348" data-storymaps-type="media"><img alt="12" src="https://kateforrestauthor.com/story/map/2018/3/12_thumb.jpg" /></a></td>
			<td><a data-storymaps="MJ-ACTION-1580515913984" data-storymaps-type="media"><img alt="13" src="https://kateforrestauthor.com/story/map/2018/3/13_thumb.jpg" /></a></td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#ADADAD; font-size:.85em">Eton College Chapel (left); I love the brickwork on this Eton College building (right).</span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>We ended the day in <a data-storymaps="MJ-ACTION-1580504964017" data-storymaps-type="zoom">Reading</a>, a place I hadn&rsquo;t seen since September 2014 when we returned our narrowboat to a boat hire in Reading, off the Thames, after an 8-day journey on the Kennet &amp; Avon Canal.</p>

<p>&nbsp;</p>

<table class="mytable">
	<tbody>
		<tr>
			<td><a data-storymaps="MJ-ACTION-1582911321637" data-storymaps-type="media"><img alt="14" src="https://kateforrestauthor.com/story/map/2018/3/14_thumb.jpg" /></a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>For our trip in May 2018, we were in Reading to meet a dear friend and do some shopping. One of places we stopped in is an absolute favorite shop of mine: <a data-storymaps="MJ-ACTION-1580504741626" data-storymaps-type="zoom">Tiger</a> (or Flying Tiger Copenhagen as it is called stateside). They are rare to see in America and the only ones I know of are all in New York City, New Jersey, and now Boston (excited to see it expanding!). Check out my <a href="https://kateforrestauthor.com/blog/2020-03-15-thrifty-fun-shopping-at-tiger.html#Blog" target="_blank">blog</a> for more about this favorite shop and the practical things you can pick up here for your vacation.</p>

<p>&nbsp;</p>

<p>After some shopping, we dined at <a data-storymaps="MJ-ACTION-1580504881281" data-storymaps-type="zoom">The Botanist</a>, a unique bar and eatery in the city center. Good food, great cocktails, and a fun, lively atmosphere. It was a great way to close out the day catching up with an old friend.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><img alt="Cocktail photo." src="https://kateforrestauthor.com/story/map/2018/3/15_thumb.jpg" /></div>

<figcaption>The Botanist, the restaurant&#39;s signature cocktail, is a combination of vodka, rum, and elderflower liqueur served in this fun beaker.</figcaption>
</figure>

<p>&nbsp;</p>
