<p><strong>Friday, 1 June 2018</strong></p>

<figure class="caption">
<div class="image-container"><img alt="Tea for Two" src="https://kateforrestauthor.com/story/map/2018/images/tea_for_two.jpg" /></div>

<figcaption>My excuse to use a picture from one of my childhood favorite musicals, Tea for Two, starring the gem Doris Day and Gordon MacRae.<br />
<span style="font-size:9px"><a href="https://commons.wikimedia.org/wiki/File:Doris_Day_Gordon_MacRae_-_Tea_for_Two.jpg" target="_blank">Public Domain on Wikimedia Commons</a></span></figcaption>
</figure>

<p>Today was our London excursion. I love London and I don&rsquo;t often say &ldquo;love&rdquo; with the name of a city in the same sentence. I&rsquo;m a small-town gal, but I need my city fix a few times a year, so I was looking forward to London. We&rsquo;ve seen all the big sights in the past, so this trip won&rsquo;t highlight all the iconic locations (though we still managed to see a good many). We were there to do a bit of reminiscing, light shopping, and leisurely walking. My one absolute to-do for the day was shopping at Fortnum &amp; Mason for tea&mdash;glorious tea! Which is why I should have saved London for the end of the trip, but more on that later.</p>

<p>&nbsp;</p>

<p>We caught our train from Ascot and were bound for the city on the Reading to London service terminating at Waterloo Station in central London. For me, this was always the easiest train take into the city, because Waterloo connects to the Underground, and, if you are interested in taking in some of the big sights, several are a short walk from the station. The London Eye, Aquarium, Palace of Westminster (Parliament) and the Elizabeth Tower (which houses Big Ben) and Westminster Abbey are all handy to Waterloo. You&rsquo;ll also find close access to water cruises down the Thames.</p>

<figure>
<div class="image-container activate-fullscreen"><img alt="Waterloo Station in Central London, United Kingdom" height="240" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Waterloo-Station-2013.JPG/640px-Waterloo-Station-2013.JPG" width="320" /></div>

<figcaption>Aerial view of London Waterloo Station.<br />
<span style="font-size:9px">Photo by Bj&oslash;rn Christian T&oslash;rrissen <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">CC BY-SA 3.0</a></span></figcaption>
</figure>

<blockquote class="tips"><strong><em>Travel Tip:</em></strong><br />
There are public toilets at Waterloo Station and, as of 1 March 2019, they are free to use.</blockquote>

<p>On this trip, we left the station and headed for the Thames, crossing the Golden Jubilee footbridge, where this photograph was taken.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581723833876" data-storymaps-type="media"><img alt="City of London." src="https://kateforrestauthor.com/story/map/2018/4/3_wide.jpg" /></a></div>

<figcaption>Pictured from left to right is the London Eye (see full-size image), the River Thames, the Houses of Parliament (at the Palace of Westminster) and the Elizabeth Tower (home to Big Ben). The iconic clock tower is undergoing conservation works until 2021.</figcaption>
</figure>

<p>From the bridge, we had a pleasant 20-minute walk to Trafalgar Square.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581723954499" data-storymaps-type="media"><img alt="Nelson's Column in London." src="https://kateforrestauthor.com/story/map/2018/4/4_wide.jpg" /></a></div>

<figcaption>View from the National Gallery of Nelson&#39;s Column and the square&#39;s famous bronze lions.</figcaption>
</figure>

<p>We then headed to Piccadilly Circus for the sole purpose of shopping at Fortnum &amp; Mason. As I&rsquo;ve said, I&rsquo;m not a shopper, but I LOVE this store. It&rsquo;s always a treat to visit, but at Christmastime it&rsquo;s especially magical. Beautiful displays with friendly, helpful, and efficient staff members all around to help you.</p>

<p>&nbsp;</p>

<p>F&amp;M tea is a favorite of mine and my family, so I was there to stockpile, buying thirteen boxes on this visit. All of the tea is fab but my favorites are Royal Blend and Jubilee.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581724048292" data-storymaps-type="media"><img alt="Fortnum &amp; Mason in London." src="https://kateforrestauthor.com/story/map/2018/4/5_wide.jpg" /></a></div>

<figcaption>Fortnum &amp; Mason storefront, London.</figcaption>
</figure>

<p>After getting my tea fix, we routed ourselves over to the Mall. This roadway connects Trafalgar Square to Buckingham Palace. The palace has been the official London residence of the UK&rsquo;s sovereigns since the time of Queen Victoria (1837). I&rsquo;ve seen the palace countless times, but this was my first sunny view of it since 2009.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581724143356" data-storymaps-type="media"><img alt="Buckingham Palace in London." src="https://kateforrestauthor.com/story/map/2018/4/8_wide.jpg" /></a></div>

<figcaption>At Buckingham Palace, they were transitioning the flowerbeds from spring to summer.</figcaption>
</figure>

<blockquote class="tips"><strong><em>Travel Tip:</em></strong><br />
Buckingham Palace State Rooms are open to the public ten weeks each summer/fall, usually the end of July or early August into early October which coincides with the Queen&rsquo;s annual vacation to Balmoral Castle in Scotland. However, if you visit in the winter they also offer some limited dates for guided tours, so be sure to check out the Royal Collection Trust to see what your options are when you plan your trip.<br />
<br />
We toured the State Rooms back in September 2013 and I&rsquo;m happy we did the tour. It&rsquo;s incredibly opulent, since many of the fineries on display date back to Queen Victoria&rsquo;s reign and she made some incredible acquisitions. Even if you can&rsquo;t tour the State Rooms, I recommend seeing the palace from the Mall and enjoying the views of it from the iconic Victoria Memorial (the monument/fountain in front of the palace). You may even catch the famous Changing of the Guard&nbsp;ceremony.<br />
<br />
For times, check with the <a href="https://www.householddivision.org.uk/changing-the-guard-calendar" target="_blank">Household Division</a>.</blockquote>

<p>&nbsp;</p>

<p>From Buckingham Palace, we took the Underground to the Victoria &amp; Albert Museum, one of my favorite museums in London.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581724229244" data-storymaps-type="media"><img alt="Victoria &amp; Albert Museum in London." src="https://kateforrestauthor.com/story/map/2018/4/10_wide.jpg" /></a></div>

<figcaption>A view of the V&amp;A Museum from the John Madeiski Garden.</figcaption>
</figure>

<p>The Victoria &amp; Albert Museum, known as the V&amp;A, is &ldquo;the world&rsquo;s leading museum of art and design, housing a permanent collection of over 2.3 million objects that span over 5,000 years of human creativity. The Museum holds many of the UK&rsquo;s national collections and houses some of the greatest resources for the study of architecture, furniture, fashion, textiles, photography, sculpture, painting, jewellery, glass, ceramics, book arts, Asian art and design, theatre and performance&rdquo; (V&amp;A).</p>

<p>&nbsp;</p>

<p>We were at the museum to revisit, and continue to explore, one of my favorite areas: the Cast Courts. To quote the V&amp;A, the courts opened in &ldquo;1873 ... [and] display copies of some of the world&rsquo;s most significant works of art reproduced in plaster, electrotype, photography, and digital media. The cast collection is famous for including reproductions of Michelangelo&rsquo;s David, Trajan&rsquo;s Column, and Ghiberti&rsquo;s Gates of Paradise, amongst many others.&rdquo;</p>

<p>&nbsp;</p>

<p>Here is an example from the collection. Pictured is a cast of &ldquo;The Marriage of the Virgin&rdquo; by Andrea di Cione, created between 1352&ndash;60. The original work is housed in the Church of Orsanmichele in Florence. The cast was done in Florence in 1864 by Giuseppe Lelli.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581724367390" data-storymaps-type="media"><img alt="'The Marriage of the Virgin' by Andrea di Cione." src="https://kateforrestauthor.com/story/map/2018/4/11_wide.jpg" /></a></div>

<figcaption>The Assumption of the Virgin, the Virgin seated in a mandorla, supported by flying angels, drops her girdle to St Thomas. Below: The Death of the Virgin.</figcaption>
</figure>

<p>One of the most popular casts is Michelangelo&rsquo;s sculpture of David. It was donated to the museum by Queen Victoria in 1857. I imagine the impact of seeing the original works is unforgettable, but I find that casts can also awe and inspire. For instance, with the cast of David, a viewer can still appreciate the incredible height and scale of the original sculpture.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1585946080120" data-storymaps-type="media"><img alt="Cast of Michelangelo's sculpture of David." src="https://kateforrestauthor.com/story/map/2018/4/13_wide.jpg" /></a></div>

<figcaption>A cast of Michelangelo&#39;s David.</figcaption>
</figure>

<p>To learn more about the original David and the cast, check out <a href="https://www.vam.ac.uk/articles/the-story-of-michelangelos-david" target="_blank">this article</a> from the V&amp;A.</p>

<p>&nbsp;</p>

<p>For a brief discussion on the controversy and importance of the Cast Courts, please read the companion article from my <a href="https://kateforrestauthor.com/blog/2020-03-16-a-note-about-cast-courts.html#Blog" target="_blank">blog</a>.</p>

<blockquote class="tips"><strong><em>Travel Tip: V&amp;A</em></strong>

<p><strong>Location:</strong> The V&amp;A is situated off Cromwell Road and Exhibition Road. Conveniently, it&rsquo;s near the Natural History Museum and Science Museum in London&rsquo;s South Kensington neighborhood, so it&rsquo;s easy to do a day at the museums.</p>

<p>&nbsp;</p>

<p><strong>Cost:</strong> It&rsquo;s free BUT there are fees to do some of the special exhibits and donations are welcome. A paper map of the museum is available for a &pound;1 or you can download a PDF in advance <a href="https://www.vam.ac.uk/visit/#maps" target="_blank">here</a>.</p>

<p>&nbsp;</p>

<p><strong>Favorite item in the gift shop:</strong> The <a href="https://www.vam.ac.uk/shop/vanda-voysey-owls-lined-journal-120035.html" target="_blank">lined journals</a>. I used the William Morris inspired ones to document our lives when we lived in England and continue using them to this day. I love the size and quality of them and, at &pound;8, they are an affordable and practical souvenir.</p>

<p>&nbsp;</p>
For more about visiting the museum, check out the <a href="https://www.vam.ac.uk/visit" target="_blank">V&amp;A website</a>.</blockquote>

<p>&nbsp;</p>

<p>To close out the day, we took the train to Kew Gardens (home to the famous botanical gardens) and enjoyed some herbed cocktails at Antipodea.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1581724628052" data-storymaps-type="media"><img alt="Herbed cocktails at Antipodea." src="https://kateforrestauthor.com/story/map/2018/4/12_wide.jpg" /></a></div>

<figcaption>The perfect refreshments after a long day of sightseeing: one English Garden and one Pear &amp; Thyme Spritz. Cheers!</figcaption>
</figure>

<p>After enjoying our cocktails, we stopped in Richmond for some shopping and then took the train to Ascot. Back at our Air BnB, we did take-away for dinner from La Sorrentina, an Italian restaurant in Sunninghill, where we used to dine when we lived in the village. My favorite was always the margherita pizza with the tricolore salad (avocado, tomatoes, &amp; fresh mozzarella with dressing) so that&rsquo;s exactly what we got and it was still fab. It was a nice, relaxing way to close out a busy day in the city.</p>

<p>&nbsp;</p>

<p>One thing I want to add is that Rick Steves has the right of it when he recommends saving London for last. I didn&rsquo;t plan to do much shopping, but oh, did I shop. You likely will too and then you&rsquo;ll be stuck with your goods (in our case, copious quantities of boxed tea from Fortnum &amp; Mason) for the rest of your journey around the UK. If I can offer one tip: Listen to Rick Steves. Save London for the end, folks.</p>

<p>&nbsp;</p>
