<p><strong>Saturday, 2 June 2018</strong></p>

<p>&nbsp;</p>

<p>On Saturday we set off for a full day in Wiltshire. Our first stop was <a data-storymaps="MJ-ACTION-1582996042700" data-storymaps-type="zoom">Caen Hill Lock Flight</a> on the Kennet &amp; Avon Canal in Devizes. Not a usual destination for most folks vacationing in England, but I was determined to visit this place after we missed it on our canal holiday back in September 2014.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582909550741" data-storymaps-type="media"><img alt="The Lady's Bridge" src="https://kateforrestauthor.com/story/map/2018/5/0_wide.jpg" /></a></div>

<figcaption>From our canal holiday in September 2014. The Lady&#39;s Bridge was erected over the Kennet &amp; Avon Canal in 1808. The rusticated stonework and decoration of the arch made it stand out against the fifty-or-so bridges we went under on our journey.</figcaption>
</figure>

<p>Quick rewind to our boating adventure on the Kennet &amp; Avon Canal in 2014:</p>

<p>&nbsp;</p>

<p>We picked up our narrowboat near Honey Street in the Vale of Pewsey, Wiltshire. Here the canal passes through beautiful farm country and along the Alton Barnes White Horse, one of eight chalk horses remaining in Wiltshire. At that point, we were around 9 miles from Devizes. On a narrowboat, that&rsquo;s a good distance away and due to time constraints, we were unable to make the journey and instead carried on toward Reading, our end destination.</p>

<p>&nbsp;</p>

<p>Why is Devizes worth a visit? The engineering feat of the Caen Hill Lock Flight, considered a rite of passage for boaters, is &ldquo;one of the longest continuous flight of locks in the country&mdash;a total of 29 locks with a rise of 237 feet over 2 miles&rdquo; (Canal River Trust).</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582909395011" data-storymaps-type="media"><img alt="https://youtu.be/kyEsn8WjOM4" src="https://kateforrestauthor.com/story/map/2018/images/yt_5.png" /></a></div>

<figcaption>Click for video.</figcaption>
</figure>

<p>We couldn&rsquo;t miss seeing one of the Seven Wonders of the Waterways for a second time, so we started our last day in Berkshire driving to Devizes. It was neat to finally see this place and watch the boaters moving down the lock series. A trip down memory lane for us, but I think it would also offer first-time visitors a unique look at the popular hobby of narrowboating and&nbsp;insight into a growing way of life in England.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582997455038" data-storymaps-type="media"><img alt="Caen Hill Lock Flight" src="https://kateforrestauthor.com/story/map/2018/5/4_wide.jpg" /></a></div>

<figcaption>The first 16 locks comprise the steepest part of the 29 locks in the Caen Hill Lock Flight.</figcaption>
</figure>

<blockquote class="tips"><strong><em>Did you know?</em></strong><br />
With boat living being an affordable alternative to the higher costs of renting and owning real estate in the UK, it is estimated some 15,000 people live aboard boats full-time. If you are interested in learning more about narrowboat life, I recommend two YouTube channels: <a href="https://youtu.be/itrrnJ49csU" target="_blank">Robbie Cumming</a> and <a href="https://youtu.be/iI79erY-QTU" target="_blank">Cruising The Cut</a>.</blockquote>

<p>We walked up and down along the locks and stopped in the Caen Hill Caf&eacute; for lunch, then we were off for more adventuring.</p>

<p>&nbsp;</p>

<p style="text-align:center">***</p>

<p>&nbsp;</p>

<p>I enjoyed the time I spent in Wiltshire when we lived in England, so I was eager to return and explore an area we hadn&rsquo;t visited yet: <a data-storymaps="MJ-ACTION-1582998181462" data-storymaps-type="media">Avebury henge and stone circles</a>.</p>

<p>&nbsp;</p>

<p>&ldquo;Avebury henge and stone circles are one of the greatest marvels of prehistoric Britain. Built and much altered during the Neolithic period, roughly between 2850 BC and 2200 BC, the henge survives as a huge circular bank and ditch, encircling an area that includes part of Avebury village. Within the henge is the largest stone circle in Britain&mdash;originally of about 100 stones&mdash;which in turn encloses two smaller stone circles&rdquo; (English Heritage).</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582996358286" data-storymaps-type="media"><img alt="Avebury's stone circles" src="https://kateforrestauthor.com/story/map/2018/5/10_wide.jpg" /></a></div>

<figcaption>Part of Avebury&rsquo;s stone circles.</figcaption>
</figure>

<p>We had gorgeous weather for our walk around this incredible World Heritage Site and I&rsquo;d absolutely recommend it to fellow travelers. Visiting the circle itself is free, but if you drive (as opposed to taking the bus in), you&rsquo;ll have a fee for the carpark (which, as of winter 2020, is &pound;7 for the day or &pound;4 after 3pm; those prices are valid until the end of March, but I imagine it will be in the ballpark for the spring and summer seasons. National Trust and English Heritage members park for free.) That makes it a very economical amusement, and I&rsquo;d argue it is equally as rewarding as seeing <a data-storymaps="MJ-ACTION-1582998585015" data-storymaps-type="zoom">Stonehenge</a> (though I can only say that because I&rsquo;ve seen Stonehenge). Both sites have their merits, but I do think for a first-time visit to England, visiting one of the country&rsquo;s amazing stone circles should make it on your itinerary. There are plenty to choose from, so I recommend checking to see what sites are near points of interest you already plan to visit.</p>

<p>&nbsp;</p>

<p>I should also say that beyond Avebury&rsquo;s stone circles, there is also a museum and manor house that you can tour (for a fee, or free to members) and there are shops and dining in the village, and plenty of great walks. The site is managed equally by the <a href="https://www.nationaltrust.org.uk/avebury" target="_blank">National Trust</a> and <a href="https://www.english-heritage.org.uk/visit/places/avebury/" target="_blank">English Heritage</a>, so you&rsquo;ll find information about Avebury&rsquo;s offerings from both sites.</p>

<p>&nbsp;</p>

<p>After our walk amongst the stones, we enjoyed cold pints on the patio at the Red Lion&mdash;the only pub in the world that sits inside a stone circle. I can&rsquo;t speak to the food, but it was a nice setting to enjoy a cold drink.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582912135114" data-storymaps-type="media"><img alt="Pints at Red Lion" src="https://kateforrestauthor.com/story/map/2018/5/13_thumb.jpg" /></a></div>

<figcaption>Nothing like a cold brew after a long walk in the sun. These are the simple moments to savor when you travel.</figcaption>
</figure>

<p>Our final stop in Avebury was to see St James&rsquo; Church. This magnificent church dates to around 1000 A.D. and still retains its Anglo-Saxon nave. It has been modified throughout history, from the Normans to the Victorians. The tower, as seen in this picture, dates to the 15<sup>th</sup> century.</p>

<p>&nbsp;</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582915043124" data-storymaps-type="media"><img alt="St. James' Church" src="https://kateforrestauthor.com/story/map/2018/5/14_thumb.jpg" /></a></div>

<figcaption>St James&rsquo; Church, Avebury.</figcaption>
</figure>

<p>Then we were off to Silbury Hill, the largest artificial mound in Europe.</p>

<p>&nbsp;</p>

<p style="text-align:center">***</p>

<p>&nbsp;</p>

<p><a data-storymaps="MJ-ACTION-1582999054431" data-storymaps-type="media">Silbury Hill</a> is part of the Avebury World Heritage Site. Access is easy, with a free car park right off the A4. Note that to protect the site, you are not permitted to walk on the mound, but there is a good viewing area with informational placards near the parking lot. This mysterious site &ldquo;compares in height and volume to the roughly contemporary Egyptian pyramids. Probably completed in around 2400 BC, it apparently contains no burial. Though clearly important in itself, its purpose and significance remain unknown&rdquo; (English Heritage).</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582996440501" data-storymaps-type="media"><img alt="Silbury Hill" src="https://kateforrestauthor.com/story/map/2018/5/15_wide.jpg" /></a></div>

<figcaption>Silbury Hill.</figcaption>
</figure>

<p>Our next stop was Hungerford. We&rsquo;d been to Hungerford before on our narrowboat holiday and I enjoyed the <a data-storymaps="MJ-ACTION-1582996536398" data-storymaps-type="media">John O&rsquo;Gaunt Inn</a> enough to give it a second visit for dinner. Despite it being the wrong time of day to traditionally eat the Ploughman&rsquo;s Lunch, that&rsquo;s exactly what I got. It&rsquo;s so&nbsp;simple, and it relies on the all the individual components being of great quality. Fortunately, this was an excellent ploughman&rsquo;s and it honestly remains one of my favorite meals to eat any time of day.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582915163804" data-storymaps-type="media"><img alt="Ploughman's Platter" src="https://kateforrestauthor.com/story/map/2018/5/17_wide.jpg" /></a></div>

<figcaption>Ploughman&rsquo;s Platter at John O&rsquo;Gaunt Inn in Hungerford.</figcaption>
</figure>

<p>After dinner, we took a short stroll around town. Shops were closed for the day, with dinner time just picking up, so there weren&rsquo;t many folks out. We walked down to the Hungerford Warf, on the banks of the Kennet &amp; Avon Canal to reminisce one last time over our memorable vacation cruising the waterways. Then it was back to the car and off we went.</p>

<p>&nbsp;</p>

<p>Our final stop took us through some scenic pastoral countryside and over narrow winding roads as we made for the Combe Gibbet.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582914810562" data-storymaps-type="media"><img alt="https://youtu.be/5SoYPHWIfNc" src="https://kateforrestauthor.com/story/map/2018/images/yt_5b.png" /></a></div>

<figcaption>Click for video.</figcaption>
</figure>

<p>It was the perfect summer evening to take in views from atop this neolithic long-barrow on the boundary between Inkpen and Combe, just a few miles from Hungerford. We were here for the sweeping views of the English countryside. Folks say that on a clear day, you can see five counties: Berkshire, Hampshire, Gloucestershire, Oxfordshire, and Buckinghamshire. It seems to be a popular place for tourists, cyclists, and hikers alike, though on this evening we shared the spot with maybe twenty or so people, but it was by no means crowded.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582914696737" data-storymaps-type="media"><img alt="https://youtu.be/3czxoCpYjmM" src="https://kateforrestauthor.com/story/map/2018/images/yt_5c.png" /></a></div>

<figcaption>Click for video.</figcaption>
</figure>

<p>The splendid views feel at odds with the location&rsquo;s morbid history. While taking in this beautiful scene, we stood next to the <a data-storymaps="MJ-ACTION-1583000015881" data-storymaps-type="media">Combe Gibbet</a> (gallows) where the dead bodies of lovers convicted of murder hung in 1676. The gallows have been replaced throughout history, with the most recent structure erected in the early 1990s. The <a href="https://www.hungerfordvirtualmuseum.co.uk/index.php/8-places/277-combe-gibbet" target="_blank">Hungerford Virtual Museum</a> has more information on this history.</p>

<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1582999855240" data-storymaps-type="media"><img alt="Combe Gibbet, Hungerford" src="https://kateforrestauthor.com/story/map/2018/5/21_wide.jpg" /></a></div>

<figcaption>Views to the South from the Combe Gibbet, Hungerford.</figcaption>
</figure>

<p>With the sun setting, it was time to head back to South Ascot for our last evening in Berkshire. The next day we left for Wales. Our journey from Wales to Scotland will be documented in Part 2 of the Story Map, which I hope to launch this summer.</p>

<p>&nbsp;</p>
