<figure class="caption">
<div class="image-container"><a data-storymaps="MJ-ACTION-1583001242714" data-storymaps-type="media"><img alt="Wiltshire, UK" src="https://kateforrestauthor.com/story/map/2018/5/1_wide.jpg" /></a></div>

<figcaption>Driving around scenic Wiltshire on a gorgeous sunny day.</figcaption>
</figure>

<p>This is the end of Part 1. Thank you for exploring my GIS Story Map! I hope you&nbsp;found something of interest in our story. I hope you&#39;ll also visit my <a href="https://kateforrestauthor.com/blog/#Blog" target="_blank">blog</a> to read the companion articles to this map.&nbsp;</p>

<p>&nbsp;</p>

<p>If you&rsquo;d like to know when Part II of the Story Map launches, I invite you to sign-up for <a href="https://kateforrestauthor.com/mail/" target="_blank">my newsletter</a>. You will only receive occasional updates&mdash;never any spam, and you can unsubscribe at any time.</p>

<p>&nbsp;</p>

<p>Thank you again for visiting!</p>

<p>~Kate</p>

<p>&nbsp;</p>
