/* MAIL FORM STYLE SHEET */
body {
    margin: 0;
    padding: 0;
}
.button-submit {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.125rem;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: .2em;
    padding: .7em .8em;
    background-color: #f8f8f8;
    border: 2px solid #4a4a4a;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-submit:hover {
    background-color: #4a4a4a;
    color: #f8f8f8;
}
.error {color: #FF0000;}
.footer {
    display: block;
    height: 150px;
    background-color: #323232;
    color: #f8f8f8;
    padding: 1rem 0px;
    font-size: 12pt;
    text-align: center;
}
.footer-icon {
    fill: #f8f8f8;
}
.footer-icon:hover {
    fill: #DDA0DD;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-social {
    font-size: 1.375rem;
    display: inline-block;
}
.footer-text-sm {
    font-size: 10pt;
}
.footer-url-text {
    text-decoration: none;
    color: #f8f8f8;
}
.footer-url-text:hover {
    color: #DDA0DD;
}
.form1 {
    display: none;
}
.icon-space {
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}
.josefin {
    font-family: 'Josefin Slab';
}
.noshow {
    display: none;
}
.section1 {
    width: 100%;
    height: 340px;
    padding-bottom: 100px;
}
.section1-text {
    display: inline-block;
    text-align: left;
    max-width: 580px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
}
.success {color: #008800;}
.subform {
    width: 100%;
    max-width: 580px;
    height: 250px;
}
.subform-left {
    display: inline-block;
    float: left;
    width: 30ch;
}
.subinput {
    line-height: 1.5rem;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #4a4a4a;
    outline: 0;
    margin-top: 1rem;
    width: 100%;
}
.top-area {
    margin: 15px 15px;
}
.tree {
    background-image: url("../img/icm_trees_183x350.png");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: right center;
    background-size: auto 100%;
}
