/* SECTION STYLES */
/* Custom section styles */
body {
    margin: 0;
    padding: 0;
}

.events {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14pt;
}
.events-text {
    display: inline-block;
    text-align: left;
    padding-top: 40px;

    width: 80%;
    max-width: 850px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
}
.events-text h2 {
    margin-bottom: 0;
}

.footer {
    display: block;
    height: 150px;
    background-color: #323232;
    color: #f8f8f8;
    padding: 1rem 0px;
    font-size: 12pt;
    text-align: center;
}
.footer-icon {
    fill: #f8f8f8;
}
.footer-icon:hover {
    fill: #DDA0DD;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-social {
    font-size: 1.375rem;
    display: inline-block;
}
.footer-text-sm {
    font-size: 10pt;
}
.footer-url-text {
    text-decoration: none;
    color: #f8f8f8;
}
.footer-url-text:hover {
    color: #DDA0DD;
}
#Events {
    margin: 40px 0px;
}
#Home {
    background-color: #f8f8f8;
}
.heading {
    padding-top: 100px;
    width: 100%;
    height: 565px;
    color: #323232;
    text-shadow: 2px 2px 8px #f8f8f8;
    background-color: #f8f8f8;
    text-align: center;
}
.heading h1 {
    font-size: 60px;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.landscape-background {
    background-image: url("../img/icm_landscape_1000x667.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 667px auto;
}
@media screen and (max-width : 575px){
    /*Make dropdown links appear inline*/
    .landscape-background {
        background-image: url("../img/icm_landscape_617x365.png");
        background-size: 365px auto;
    }
    .heading {
        height: 420px;
    }
}
.josefin {
    font-family: 'Josefin Slab';
}
.icon-space {
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}

.social {
    padding-top: 18px;
    padding-bottom: 36px;
}
.title-script {
    font-family: 'Alex Brush', cursive;
    font-size: 120px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

/* SOCIAL MEDIA ICONS */
/* Add style to social media icons */
.fas {
    text-decoration: none;
    font-size: 12pt;
}
.far, .fab {
    padding: 10px;
    font-size: 30px;
    width: 33px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect */
.fas:hover, .far:hover, .fab:hover {
    opacity: 0.7;
}

/* Add color to social media icons */
.fa-google-plus {
    background: #dd4b39;
    color: white;
}
.fa-envelope {
    background: #000000;
    color: white;
}
.fa-instagram {
    color: white;
    background: linear-gradient(to bottom right, #fccc63, #e95950, #bc2a8d, #8a3ab9);
}
.fa-facebook {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-external-link-alt {
    color: #323232;
}
.fa-smile-wink {
    color: #323232;
    font-size: 18px;
    padding: 0;
}

/* NAVIGATION BAR */
.navmenu {
    position: fixed;
    background: #323232;
    width: 100%;
    height: 40px;
}
/*Strip the ul of padding and list styling*/
.navmenu ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
.navmenu li {
    display:inline-block;
    float: left;
}
/*Style for menu links*/
.navmenu li a {
    display: block;
    min-width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f8f8f8;
    background: #323232;
    text-decoration: none;
}
/*Hover state for top level links*/
.navmenu li:hover a {
    color: #323232;
    background: #ffffff;
}
/*Hide dropdown links until they are needed*/
.navmenu li ul {
    display: none;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #f8f8f8;
    background: #323232;
    text-align: left;
    padding: 10px 10px;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 575px){
    /*Make dropdown links appear inline*/
    .navmenu ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .navmenu li {
        margin-bottom: 0px;
    }
    /*Make all menu links full width*/
    .navmenu ul li, li a {
        width: 100%;
    }
    .navmenu li a {
        text-align: left;
        padding-left: 10px;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
